.container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .stories {
    width: 375px;
    height: 98px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(255, 255, 255, 1);
  }
  .mask {
    top: 0px;
    left: 0px;
    width: 375px;
    height: 98px;
    position: absolute;
  }
  .your-story {
    top: 9px;
    left: 10px;
    width: 62px;
    height: 81px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .profile-image {
    top: 0px;
    left: 0px;
    width: 62px;
    height: 62px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .oval-copy {
    top: 0px;
    left: 0px;
    width: 62px;
    height: 62px;
    position: absolute;
  }
  .inner-oval {
    top: 3px;
    left: 3px;
    width: 56px;
    height: 56px;
    position: absolute;
  }
  .text {
    top: 67px;
    left: 1.5px;
    color: rgba(38, 38, 38, 1);
    height: auto;
    position: absolute;
    font-size: 12px;
    font-style: Regular;
    text-align: center;
    font-family: SF Pro Text;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .story {
    top: 9px;
    left: 174px;
    width: 62px;
    height: 81px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .profile-image1 {
    top: 0px;
    left: 0px;
    width: 62px;
    height: 62px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .oval-copy1 {
    top: 0px;
    left: 0px;
    width: 62px;
    height: 62px;
    position: absolute;
  }
  .inner-oval1 {
    top: 3px;
    left: 3px;
    width: 56px;
    height: 56px;
    position: absolute;
    border-radius: 25px;
  }
  .text02 {
    top: 67px;
    left: 5.5px;
    color: rgba(38, 38, 38, 1);
    height: auto;
    position: absolute;
    font-size: 12px;
    font-style: Regular;
    text-align: center;
    font-family: SF Pro Text;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .story1 {
    top: 9px;
    left: 256px;
    width: 62px;
    height: 81px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .profile-image2 {
    top: 0px;
    left: 0px;
    width: 62px;
    height: 62px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .oval-copy2 {
    top: 0px;
    left: 0px;
    width: 62px;
    height: 62px;
    position: absolute;
  }
  .inner-oval2 {
    top: 3px;
    left: 3px;
    width: 56px;
    height: 56px;
    position: absolute;
  }
  .text04 {
    top: 67px;
    left: 7px;
    color: rgba(38, 38, 38, 1);
    height: auto;
    position: absolute;
    font-size: 12px;
    font-style: Regular;
    text-align: center;
    font-family: SF Pro Text;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .story2 {
    top: 9px;
    left: 338px;
    width: 62px;
    height: 81px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .profile-image3 {
    top: 0px;
    left: 0px;
    width: 62px;
    height: 62px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .oval-copy3 {
    top: 0px;
    left: 0px;
    width: 62px;
    height: 62px;
    position: absolute;
  }
  .inner-oval3 {
    top: 3px;
    left: 3px;
    width: 56px;
    height: 56px;
    position: absolute;
  }
  .text06 {
    top: 67px;
    left: 2.5px;
    color: rgba(38, 38, 38, 1);
    height: auto;
    position: absolute;
    font-size: 12px;
    font-style: Regular;
    text-align: center;
    font-family: SF Pro Text;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .live {
    top: 9px;
    left: 92px;
    width: 62px;
    height: 81px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .oval-copy4 {
    top: 0px;
    left: 0px;
    width: 62px;
    height: 62px;
    position: absolute;
  }
  .inner-oval4 {
    top: 3px;
    left: 3px;
    width: 56px;
    height: 56px;
    position: absolute;
  }
  .text08 {
    top: 67px;
    left: 5px;
    color: rgba(38, 38, 38, 1);
    height: auto;
    position: absolute;
    font-size: 12px;
    font-style: Regular;
    text-align: center;
    font-family: SF Pro Text;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .live1 {
    top: 51px;
    left: 18px;
    width: 26px;
    height: 16px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-image: linear-gradient(135deg, rgba(201, 0, 131, 1) 0%, rgba(210, 36, 99, 1) 22%, rgba(225, 0, 56, 1) 100%);
  }
  .text10 {
    top: 3px;
    left: 4px;
    color: rgba(254, 254, 254, 1);
    height: auto;
    position: absolute;
    font-size: 8px;
    font-style: Medium;
    text-align: center;
    font-family: SF Pro Display;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  