.mb-home-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(var(--ig-dark-bg));
  color: white;
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  font-size: small;
  position: relative;
}

.mb-home-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

/* -------container-Header */
.mb-home-header {
  width: 100%;
  height: 50px;
  /* background-color: red; */
  padding: 2% 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(var(--ig--secondary-font-color));
}

.mbhh-logo {
  width: 10%;
  height: 100%;
  /* background-color: red; */
}

.mbhh-logo > img {
  width: 70%;
  height: 100%;
}

.mbhh-search {
  width: 70%;
  height: 100%;
  position: relative;
  /* background-color: red; */
  color: white;
}

#mbh-search-input {
  width: 100%;
  background-color: rgb(var(--ig-secondary-bg-color));
  border: none;
  outline: none;
  color: white;
  padding: 2% 3%;
  border-radius: 4px;
}

#mbh-search-icon {
  color: rgb(var(--ig--secondary-font-color));
  position: absolute;
  top: 10%;
  left: 5%;
}

#mbh-search-placeholder {
  color: rgb(var(--ig--secondary-font-color));
  position: absolute;
  top: 15%;
  left: 15%;
}

#mbh-clear-search-input {
  position: absolute;
  right: 12px;
  top: 45%;
  transform: translateY(-50%);
  z-index: 3;
  font-size: medium;
  color: rgb(var(--ig--secondary-font-color));
  /* background: #fff; */
}

.mbhh-notifications {
  width: 5%;
  height: 100%;
}

.mbhh-notifications > span > svg {
  width: 100%;
  height: 100%;
  /* background-color: red; */
}

/* ---POST container */

.mbhome-post-container {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.mbhome-post-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

.mb-home-post {
  width: 100%;
  height: 100%;
}

/* ---Post Header */

.mbhome-post-header {
  width: 100%;
  height: 8%;
  /* background-color: green; */
  padding: 2% 3%;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.mbhph-user-info {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  /* background-color: yellow; */
}

.mbhph-dp {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 2% 3%; */
}

.mbhph-dp > img {
  width: 86.44%;
  height: 91.69%;
  border-radius: 50%;
}

.mbhph-username {
  margin-left: 2%;
  flex-grow: 1;
}

.mbhph-post-settings {
  width: 10%;
  /* flex-grow: 1; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  /* position: relative; */
  /* background-color: blue; */
}
.mbhph-post-settings > svg {
  width: 80%;
  height: 80%;
  font-size: larger;
  /* position: absolute; */
  right: 0%;
  /* bottom: 5%; */
}

/*------ Post-Image */

.mbhome-post-image {
  width: 100%;
  height: 70%;
}

.mbhome-post-image > img {
  width: 100%;
  height: 100%;
}

/* ---------Post-Footer */
.mbhome-post-footer {
  width: 100%;
  height: 20%;
  /* border: 1px solid red; */
  margin-top: 3%;
  overflow: hidden;
}

.mbhome-post-actionBtns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0% 5%;
}

.mbhome-post-actionBtns-left {
  display: flex;
  flex-direction: row;
}

.mbhome-post-actionBtns-left > div > span > svg {
  width: 90%;
  /* color: red; */
}

.mbhome-post-actionBtns-left > div > span > svg:hover {
  color: rgb(var(--ig--secondary-font-color));
}

.mbhome-post-actionBtns-bookmark > span > svg {
  width: 90%;
}

/* --------Caption */
.mbhome-post-caption {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin: 0% 5%;
}

.mbpost-caption-userDetails {
  display: flex;
  flex-direction: row;
  position: relative;
  font-size: 110%;
}
