.modal-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

/* span */
.close-modal-btn {
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 0;
  right: 0;
  /* margin-right: 3%; */
  cursor: pointer;
  font-size: 25px;
  color: white;
  z-index: 2;
  /* background-color: red; */
}

/* Media query */

/* Mobile <= 320px */
@media screen and (min-width: 200px) and (max-width: 426) {
  .modal-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    /* margin: 2% 20%; */
    background-color: #000;
    /* background-color: rgba(0, 0, 0, 0.6); */
    background-color: blue;
    z-index: 1;
  }
}

/* tablet  <=768px*/
@media screen and (min-width: 768px), (max-width: 1024px) {
  .modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    /* margin: 2% 20%; */

    background-color: #000;
    background-color: rgba(0, 0, 0, 0.6);
    /* background-color: blue; */
    z-index: 1;
  }
}

/* lapptop >=1024px */
@media screen and (min-width: 1024px) {
}
