.home-mount-0 {
  display: flex;
  justify-content: center;
  background-color: #fafafa; /* Set your desired background color */
}
.home-container {
  display: flex;
  width: 100%;
  flex-direction: row;
}

section {
  /* background-color: rgb(45,345,3); */
  background-color: rgb(var(--ig-primary-color));
  width: 100%;
}

.section-stories-posts-footer {
  /* background-color: aqua; */
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.stories-header {
  margin-bottom: 20px;
}

/* Container */
.main-feed-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin: 0px auto;
}

.main-feed-section::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

/*-----------Feed-Posts------ */

.feed {
  width: 100%;
  max-height: 100%;
  padding: 2% auto;
  color: white;
  overflow-y: scroll;
  overflow-x: hidden;
}

.feed-post {
  width: 40%;
  height: 100%;
  margin: 2% auto;
}

/* ---Header */

.fp-header {
  width: 100%;
  height: 10%;
  /* padding: 2% 5%; */
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.fp-header-user-info {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.fph-profile-photo {
  width: 20%;
  height: 100%;
  margin: 2% 3%;
  display: flex;
  align-items: center;
}

.fph-profile-photo > img {
  width: 80%;
  height: 50%;
  border-radius: 50%;
}

.fp-header-settings {
  width: 10%;
  height: 40px;
  position: relative;
}

.fp-header-settings > svg {
  width: 50%;
  height: 100%;
  position: absolute;
  right: 5%;
}

/* ----image */

.fp-image-container {
  width: 100%;
  height: 70%;
}

.fp-image-container > img {
  width: 100%;
  height: 100%;
  /* margin: 0% auto; */
  object-fit: cover;
}

/* Post-Footer */
.fp-footer {
  /* border: 1px solid red; */
}

/* -------Footer---------------- */

.home-footer {
  width: 100%;
  margin: 0% auto;
}

.fphome-post-actionBtns {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.fphome-post-actionBtns-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.fphome-likedBy-likes {
  width: 100%;
  /* border: 1px solid red; */
}

/* post-user-caption */
.fphome-post-caption {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  /* border: 1px solid red; */
}
