.view-post-mount {
  width: 80vw;
  height: 90vh;
  position: relative;
  margin: 2% auto;
  /* background-color: blue; */
  z-index: 4;
}

.view-post-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  outline: none;
  background-color: rgb(0, 0, 0);
  /* overflow: hidden; */
  border: 2px solid rgb(0, 72, 255);
}

/* ----------------MOBILE-------------------------- */

.view-post-mb-container {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  position: relative;
  right: 12%;
}

.vp-mobile {
  width: 100%;
  height: 110%;
  display: flex;
  flex-direction: column;
  outline: none;
  /* border: 2px solid red; */
  border-radius: 10px;
  /* background-color: rgb(104, 101, 101); */
}

.vpmb-cs-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* position: relative; */
  background-color: rgb(26, 26, 26);
  /* background-color: rgb(212, 118, 118); */
}

.vpmb-headerUserDetail {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 100%;
}
.vpmbcs-header-profile-photo {
  width: 10%;
  margin: 2% 3%;
}

.vpmbcs-header-profile-username {
  width: 90%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.vpmbcs-header-profile-postSettings {
  display: flex;
  align-items: center;
  margin-right: 2%;
}

.vpmb-img-section {
  width: 100%;
  height: 50%;
  /* background-color: rgb(115, 255, 0); */
}

.vpmb-img-section > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.vpmb-comment-section {
  width: 100%;
  height: 40%;
  font-size: 80%;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
}

.vpmb-cs-actionBtns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 3%;
}

.vpmb-actionBtns-left {
  display: flex;
  flex-direction: row;
}

/* ADD COmment */

.vpmb-addComment {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  position: relative;
  /* padding-right: 2%; */
}

.vpmb-addComment-userDp {
  margin: 2% 3%;
}

.vpmb-addComment-comment {
  width: 100%;

  /* align-items: center; */
}

.vpmb-addComment-comment > div {
  width: 100%;
}
/* textarea */
.vpmb-addComment-comment > div > #post-addComment {
  background-color: var(--ig-modal-bg-color);
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  resize: none;
  color: white;
  line-height: 100%;
  /* text-align: center; */
  margin-top: 4%;
  /* padding-top: 8%; */
}

/* ------------------LAPTOP----------------------------------------- */

/* Img Section (left)*/
.vp-img-section {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  /* background-color: red; */
}

.vp-img-section > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Comment section(right) */
.vp-comment-section {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Header */
.vp-cs-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  /* background-color: red; */
}

.vpcs-headerUserDetail {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  /* background-color: red; */
  width: 100%;
}

.vpcs-header-profile-username {
  width: 100%;
}
.vpcs-header-profile-postSettings {
  /* position: absolute; */
  /* left: 90%; */
}

.vpcs-header-profile-photo,
.vpcs-postCaption-profilePhoto {
  margin: 2% 5%;
}

/* Post Caption */
.vp-cs-postCaption {
  display: flex;
  flex-direction: row;
  justify-content: start;
  /* background-color: blue; */
}

.vpcs-postCaptionUserDetails {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
  position: relative;
  /* background-color: rebeccapurple; */
}

#vpcs-captionTimeStamp {
  font-size: x-small;
  width: 100%;
  position: absolute;
  top: 90%;
  left: 14%;
  color: rgb(var(--ig--secondary-font-color));
  /* background-color: red; */
}

.vp-cs-commentsBody {
  /* background-color: red; */
  width: 100%;
  height: 60%;
  overflow: hidden;
}

/* Actionn BTNS Like,comment, share */
.vp-cs-actionBtns {
  width: 100%;
  /* background-color: blue; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0% 3%;
}

.vpcs-actionBtns-left {
  display: flex;
  align-items: center;
  flex-direction: row;
}

#post-likeBtn:hover,
#post-commentBtn:hover,
#post-shareBtn :hover,
#post-bookmarkBtn :hover {
  color: rgb(var(--ig--secondary-font-color));
}

.vp-cs-likedBy {
  display: flex;
  flex-direction: column;
}

.vpcs-likedBy-likes {
  /* background-color: red; */
  /* margin-left: 10%; */
}

/* Add comment */
.vp-cs-addComment {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  position: relative;
  padding-right: 2%;
  /* background: chartreuse; */
}

.vpcs-addComment-userDp {
  margin: 2% 5%;
}

.vpcs-addComment-comment {
  width: 100%;
  height: 100%;
  /* background: blue; */
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.vpcs-addComment-comment > #post-addComment {
  background-color: var(--ig-modal-bg-color);
  outline: none;
  border: none;
  /* background-color: rgb(255, 255, 255); */
  width: 100%;
  height: 100%;
  resize: none;
  color: white;
  line-height: 100%;
  padding-top: 8%;
}

/* Post comment */
#addComment-postCommentBtn {
  background: none;
  background-color: #000;
  outline: none;
  font-size: smaller;
  color: rgb(var(--ig--primary-button));
}

.vpcs-addComment-emojiDrawer {
  /* background-color: red; */
  height: 100%;
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.vpcs-addComment-emojiDrawer > #addComment-emoji {
  font-size: 150%;
}

/* Emoji Drawer */
.addComment-select-Emoji {
  position: absolute;
  right: 5%;

  bottom: 80%;
  z-index: 5;
}

/* Media Query */

/* Mobile */
@media screen and (min-width: 200px), (max-width: 768px) {
  .view-post-mount {
    width: 70vw;
    height: 70vh;
    position: relative;
    left: 5%;
    margin: 15% auto;
    /* background-color: blue; */
    z-index: 4;
  }

  .view-post-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    border-bottom: 1px solid rgb(var(--ig--secondary-font-color));
    border-radius: 10px;
  }

  /* Header */
  .vp-cs-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    margin: 5% 2%;
    /* background-color: red; */
  }

  .vpcs-headerUserDetail {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    /* background-color: red; */
    width: 100%;
  }

  /* Img Section (left)*/
  .vp-img-section {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-right: 1px solid rgb(var(--ig--secondary-font-color));
  }

  .vp-img-section > img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  /* Comment section(right) */
  .vp-comment-section {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    font-size: 80%;
    /* color: red; */
    margin-bottom: 5%;
  }

  .vpcs-addComment-comment > #post-addComment {
    background-color: var(--ig-modal-bg-color);
    outline: none;
    border: none;
    width: 100%;
    /* height: 100%; */
    resize: none;
    /* line-height: 100%; */
    padding-top: 4%;
  }

  .addComment-select-Emoji {
    width: 20rem;
    height: 200px;
    position: absolute;
    overflow: hidden;
  }

  .addComment-select-Emoji > div {
    width: 100%;
    height: 100%;
    position: absolute;
    /* top: 0; */
  }
}

/*----------- Laptop--------------------------- */

@media screen and (min-width: 768px), (max-width: 1024px) {
  .view-post-mount {
    width: 98vw;
    height: 70vh;
    position: relative;
    margin: 5% auto;
    right: 50%;
    /* background-color: blue; */
    z-index: 4;
  }

  .view-post-container {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 20%;
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    border: none;
  }

  /* Img Section (left)*/
  .vp-img-section {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-right: 1px solid rgb(var(--ig--secondary-font-color));
  }

  .vp-img-section > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .vp-cs-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    margin: 2% auto 0;

    /* background-color: red; */
  }

  /* Comment section(right) */
  .vp-comment-section {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 100%;
  }
}
